    input[type="number"],
    input[type="text"],
    input[type="email"],
    input[type="date"] {
        background-color: #E9ECEF;
        color: black;
        /*E9ECEF*/
        border-width: 0px;
        border: none;
        box-shadow: none;
    }
    
    input[type="number"]:focus,
    input[type="text"]:focus,
    input[type="email"]:focus,
    input [type="date"]:focus {
        background-color: white;
        border-width: 0px;
        border: none;
        box-shadow: none;
    }

    .selector {
        background-color: #E9ECEF;
        color: black;
        /*E9ECEF*/
        border-width: 0px;
        border: none;
        box-shadow: none;
    }

    .selector:focus {
        background-color: white;
        border-width: 0px;
        border: none;
        box-shadow: none;
    }
    .no-border{
        border:none
    }